<nav class="navbar">
    <div class="logo">Gyles.</div>
    <ul class="nav-links">
        <li><a href="home.html" class="nav-item">Home</a></li>
        <li><a href="about.html" class="nav-item">About</a></li>
        <li><a href="works.html" class="nav-item">Works</a></li>
        <li><a href="experience.html" class="nav-item">Experience</a></li>
        <li><a href="education.html" class="nav-item">Education</a></li>
        <li><a href="references.html" class="nav-item">References</a></li>
        <li><a href="resume.html" class="nav-item">Resume</a></li>
    </ul>
</nav>